Options +ExecCGI
Options -Indexes
AddHandler cgi-script py
DirectoryIndex dispatcher.py

RewriteEngine on
RewriteRule ^assets/(.*) app/dist/assets/$1 [L]
RewriteRule ^img/(.*) app/dist/img/$1 [L]
RewriteRule ^concordance(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^kwic(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^collocation(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^time_series(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^query?report=(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^navigate(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^aggregation(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^bibliography(.*) dispatcher.py$1 [PT,QSA]


<IfModule mod_brotli.c>
    RewriteEngine On

    AddEncoding br .br

    # Serve `.js.br` and `.css.br` if client supports Brotli
    RewriteCond %{HTTP:Accept-Encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -f
    RewriteRule ^(.+)\.(js|css)$ $1.$2.br [QSA,L]

    <FilesMatch "\.(js|css)\.br$">
        Header set Content-Encoding br
        Header set Vary Accept-Encoding
    </FilesMatch>
</IfModule>